@layer base, starlight, theme, components, utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-accent-50: var(--color-rose-50);
  --color-accent-100: var(--color-rose-100);
  --color-accent-200: var(--color-rose-200);
  --color-accent-300: var(--color-rose-300);
  --color-accent-400: var(--color-rose-400);
  --color-accent-500: var(--color-rose-500);
  --color-accent-600: var(--color-rose-600);
  --color-accent-700: var(--color-rose-700);
  --color-accent-800: var(--color-rose-800);
  --color-accent-900: var(--color-rose-900);
  --color-accent-950: var(--color-rose-950);
}
.site-title,
.sl-site-title {
  font-family: "Rubik Wet Paint", system-ui;
}

.project-title {
  font-family: "Rubik Wet Paint", system-ui;
  @apply text-accent-600;
}
